@model IEnumerable<ProyectoNexus.ReferenciaServicioPedidos.CPedidos>

@{
    ViewBag.Title = "Pedidos";
}

<h2>Pedidos</h2>

<p>
    @Html.ActionLink("Nuevo Pedido", "AgregarPedido")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AGENCOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GERECOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEDCANTID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEDCOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEDDESCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEDFECH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEDPRECIOUNITA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEDTOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROVCOD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AGENCOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GERECOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEDCANTID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEDCOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEDDESCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEDFECH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEDPRECIOUNITA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEDTOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROVCOD)
        </td>
        <td>
            @Html.ActionLink("Editar", "ModificarPedido", new { id = item.PEDCOD }) |
            @Html.ActionLink("Eliminar", "EliminarPedido", new { id = item.PEDCOD })|
            @Html.ActionLink("Detalles", "Details", new { id = item.PEDCOD })
        </td>
    </tr>
}

</table>
